/* -- IMPORTS & ROOT -- */

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary: #4154f1;
  --secondary: #717ff5;
  --bgLight: #f6f9ff;
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* -- LAYOUT STYLES -- */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

/* -- BACKGROUND STYLES -- */
.background-image {
  position: relative; /* Ensures the container is positioned */
  z-index: 0; /* Sets the base layer */
}

.background-image::before {
  content: "";
  position: fixed; /* or absolute if fixed doesn't work as expected */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../img/data_background_img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none; /* Allow clicks to pass through */
  z-index: -1; /* Ensure it's behind the content */
}

.overlay {
  position: absolute; /* Cover the same area as .background-image */
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7); /* Black overlay with 70% opacity */
  z-index: 1; /* Above the background image */
}

.content {
  position: relative;
  z-index: 2; /* Above the overlay */
}

.min-h-screen {
  min-height: 100vh;
}

/* -- MEDIA QUERIES -- */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* -- TYPOGRAPHY -- */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
}

/* -- DASHBOARD STYLES */

.dashboard .filter {
  position: absolute;
  top: 0;
  right: 0;
}

.dashboard .filter .icon {
  color: #aab7cf;
  padding-right: 20px;
  padding-bottom: 5px;
  transition: 0.3s;
  font-size: 16px;
  position: relative;
}

.dashboard .filter .icon:hover,
.dashboard .filter .icon:focus {
  color: #4154f1;
  cursor: pointer;
}

.dashboard .filter .dropdown-header {
  padding: 8px 15px;
}

.dashboard .filter .dropdown-header h6 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #aab7cf;
  margin-bottom: 0;
  padding: 0;
}

.dashboard .filter .dropdown-item {
  padding: 8px 15px;
}

/* -- SIDEBAR STYLES -- */

/* -- CARD STYLES -- */

.iconContainer {
  font-size: 32px;
  line-height: 0;
  width: 64px;
  height: 64px;
  flex-shrink: 0;
  flex-grow: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-card {
  padding-bottom: 10px;
  position: relative;
}

.info-card h6 {
  font-size: 28px;
  color: #012970;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.dropdown-menu {
  position: absolute;
  right: 0;
  z-index: 1000;
  opacity: 90%;
}

.chart-card {
  position: relative;
}
/* Default height for the chart */
.chart-container {
  height: 250px;
}

/* Adjust height for smaller screens */
@media (max-width: 768px) {
  .chart-container {
    height: 250px;
  }
}

.dash-container {
  min-height: 100vh;
}
